<div class="container"> <!-- you can custom style of the first .container -->
    <div class="bg-white p-4 rounded">
        <p>Welcome on ToReplace. You can login from <a href={Routes.auth_path(@conn, :index)}>here</a></p>
    </div>
</div>